<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weapon Detection System</title>
</head>
<body>
<h1> Weapon Detection System by Samuel Mohebban</h1>
<li> <a href="https://github.com/HeeebsInc/NN_Weapon_Detection">GitHub Repo</a></li>
<li> <a href="https://www.linkedin.com/in/samuel-mohebban-b50732139/">LinkedIn Profile</a></li>

<form action="/upload_picture">
<input type = 'submit' value = 'Click Here To Upload Your Own Photo'>
</form>

<h2 style = "text-align:center;">Sliding Window for Predictions</h2>
<p style = "text-align:center;">
This is where the sliding window description goes
</p>
<p style = "text-align:center;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/mtskarJnd3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<h2 style = "text-align:center;">Demo Video <a href="https://www.youtube.com/watch?v=0FlnM0edQhA">(Original Youtube Link)</h2>
<p style = "text-align:center;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/DUsreaqR_tc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
</body>
</html>